.navbar {
  background-color: transparent;
  transition: 0.3s;
}
.navbar.scroll {
  background-color: rgba(255, 255, 255, 0.5)!important;
  backdrop-filter: blur(10px);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.navbar .navbar-brand {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#hero-section {
  position: relative;
  height: 70vh;
  width: 100%;
  background:
    linear-gradient(180deg, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.1) 85%),
    radial-gradient(ellipse at top left, rgba(0, 159, 199, 0.4), transparent 50%),
    radial-gradient(ellipse at top right, rgba(0, 132, 255, 0.4), transparent 50%),
    radial-gradient(ellipse at center right, rgba(238, 130, 238, 0.25), transparent 50%),
    radial-gradient(ellipse at center left, rgba(255, 192, 203, 0.25), transparent 50%);

}

.hero-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  z-index: 0;
}

@media (max-width: 992px) {
  #hero-section {
    height: 100vh;
  }
  .hero-img {
    width: 100%;
  }
}

#hero-section .container {
  height: 100%;
}

.hero-img-container {
  position: relative;
  height: 100%;
}


.hero-white-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 50%, white);
  bottom: 0;
  right: 0;
  z-index: 1;
}

.hero-content {
  z-index: 2;
}
.hero-text {
  font-size: 1.75rem;
}

/*
  Animations
*/

.fade-in-left {
  animation: fadeInLeft 1s ease-in-out;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
  animation-play-state: paused;
}
.fade-in.animate {
  animation-play-state: running;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(0, 20px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  } 
}