html::-webkit-scrollbar {
  width: 5px; 
  height: 5px;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background: black;
}

.navbar {
  background-color: transparent;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.navbar.scroll {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.navbar .navbar-brand {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#hero-section {
  position: relative;
  height: 70vh;
  width: 100%;
  background:
    linear-gradient(180deg, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.1) 85%),
    radial-gradient(ellipse at top left, rgba(0, 159, 199, 0.4), transparent 50%),
    radial-gradient(ellipse at top right, rgba(0, 132, 255, 0.4), transparent 50%),
    radial-gradient(ellipse at center right, rgba(238, 130, 238, 0.25), transparent 50%),
    radial-gradient(ellipse at center left, rgba(255, 192, 203, 0.25), transparent 50%);
  overflow: hidden;
}

#chevron {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  z-index: 2;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  animation: bounce 2s infinite running linear;
  -webkit-animation: bounce 2s infinite running linear;
}
#chevron svg {
  width: 50px;
  height: 50px;
}

.hero-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  z-index: 0;
}

@media (max-width: 992px) {
  #hero-section {
    height: 100vh;
  }
  .hero-img {
    width: 100%;
  }
}

#hero-section .container {
  height: 100%;
}

.hero-img-container {
  position: relative;
  height: 100%;
}

.hero-white-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 50%, white);
  bottom: 0;
  right: 0;
  z-index: 1;
}

.hero-content {
  z-index: 2;
}
.hero-text {
  font-size: 1.75rem;
}

/*
  Animations
*/

.fade-in-left {
  animation: fadeInLeft 1s ease-in-out;
  -webkit-animation: fadeInLeft 1s ease-in-out;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out paused;
  -webkit-animation: fadeIn 0.3s ease-in-out paused;
}
.fade-in.animate {
  animation-play-state: running;
  -webkit-animation-play-state: running;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(0, 20px);
    -webkit-transform: translate(0, 20px);
    -moz-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    -o-transform: translate(0, 20px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  } 
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
  50% {
    transform: translateY(-25%);
    -webkit-transform: translateY(-25%);
    -moz-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    -o-transform: translateY(-25%);
}
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
}